<div class="container">
  <div class="container">
    <i>Use case for HATEOAS</i>
    <ul>
      <h3>Users</h3>
      {{#each model.users as |user|}}
        <li>{{input value=user.name}}</li>
      {{/each}}
    </ul>
    <button {{action "saveAll" model}}>Save</button>
  </div>
  <div class="container">
    <i>Use case for dynamic fetching</i>
    <ul>
      <h3>Configurations</h3>
      {{#each model.configurations as |configuration|}}
        <li>{{configuration.name}}: {{input value=configuration.configData}}&nbsp;<button {{action "saveConfiguration" configuration}}>Save Configuration</button></li>
      {{/each}}
    </ul>
    <button {{action "saveAll" model}}>Save All</button>
  </div>
  <div class="container">
    <i>Use case for file upload</i>
    <ul>
      <h3>
        Input configuration
      </h3>
      <div>
        // yet to prove
      </div>
    </ul>
  </div>
  <hr>
</div>